{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
    .activity-act {
        font-size: 18px;
        display: block;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: rgba(18,17,21,1);
        line-height: 30px;
        margin: 30px 0;
        width: 72px;
        border-bottom: 2px solid rgba(18,17,21,1);
    }
</style>
<div id="main-container" class="container clearfix">
    <section class="post-left">
        <div class="post-main clearfix">
            <h1 class="post-title">{{ collegeshow.title }}</h1>
            <div class="post-con clearfix">
                <div style="font-size:16px">讲师：{{ collegeshow.author }}</div>
                <div style="margin-top:10px"><img src="{% url 'index' %}media/{{ collegeshow.img }}"></div>
                <div style="margin-top:10px">
                    <span class="activity-act">课程摘要</span>
                    <p style="font-size:16px">{{ collegeshow.excerpt }}</p>
                </div>
                <div style="margin-top:10px">
                    <span class="activity-act">课程内容</span>
                    <article class="article-content">{{ collegeshow.body|safe }}</article>
                </div>
            </div>
        </div>
    </section>
{% include 'college_right.html' %}
</div>
{% block panelScript %}
{% endblock %}
{% endblock %}