{% extends "base.html" %}
{% block content %}

 <div id="main-container" class="container clearfix">
	<section class="post-left">
		<div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <span class="current">关于我们</span></div>				<div class="post-main clearfix">
			<h1 class="post-title">关于我们</h1>
			<div class="post-con clearfix">
				<div class="article-meta"> <span class="item">2018-12-21</span></div>
				<article class="article-content">
                    <p>知鱼财经，在这里让您真正懂区块链</p>
                    <p>首先声明：知鱼财经专注区块链信息及金融服务，不代表任何投资建议</p>
                    <p>知鱼财经网站原创稿件，版权属知鱼财经所有，未经授权不得转载，已经协议授权的媒体下载使用时须注明"稿件来源：知鱼财经"，否则将依法追究责任</p>
                    <p>提示：投资有风险，入市须谨慎。知鱼财经上的所有资讯都不作为投资理财建议。</p>
                    <p>知鱼财经属于天津木姜子科技有限公司旗下产品，天津木姜子科技有限公司是一家国内领先的区块链技术服务公司，目前公司主营业务数字货币交易所搭建，股票交易所搭建，数字钱包开发，公链联盟链开发、白皮书编写和区块链产品推广服务，一直以“成为最值得 信赖的技术服务公司”为愿景，以“为客户持续创造价值”为使命，基于海量业务的 技术锤炼，从基础架构到精细化运营，为客户提供安全、稳定、可靠的一站式技术服务。</p>
                    <p>团队成员曾就职阿里、百度、美团、汽车之家、火币，币安，Kcash，Achain，Linkeye， Biwork，番茄钱包、Chainup和宜信宜人贷等各大知名互联网及区块链公司， 从事专业的技术开发或运营管理，具有丰富的技术经验与区块链行业经验。</p>
				    <p>天津木姜子科技官网：www.gingernet.vip</p>
                    <p>天津木姜子问我学院：www.wenwoha.com</p>
                </article>
			</div>
		</div>
	</section>
<aside class="post-right hidden-xs">
<!-- /关注我们 -->
            <div class="post-right-item">
                <h4 class="post-right-title">关注我们</h4>
                <div class="wid-about">
                    <p>知鱼财经，在这里让您真正懂区块链</p>
                    <img src="../static/picture/weixinqr.jpg" width="160" height="160">
                </div>
                <div class="wid-about">
                    <p><strong>联系方式:</strong></p>
                    <p>电话: 13752102267</p>
				            <p>微信: 13752102267</p>
				            <p>Email: zhiyucaijing@163.com</p>
                </div>
            </div>

</aside>
</div>
{% endblock %}